---
layout: page
title: "About"
description: "Hey, this is Hux."
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英语 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
         “或者所谓春天 ”
    </blockquote>
     或者所谓春天也不过就在电话亭的那边<br> 
<br>厦门街的那边有一些蠢蠢的记忆的那边 <br> 
<br>航空信就从那里开始 <br>
<br>眼睛就从那里忍受 <br>
<br>邮戳邮戳邮戳 <br>
<br>各种文字的打击 <br>
<br>或者那许多秘密邮筒已忘记 <br>
<br>围巾遮住大半个灵魂 <br>
<br>流行了樱花流行感冒 <br>
<br>总是这样，四月来时先通知鼻子 <br>
<br>回家，走同安街的巷子 <br>

<br>或者在这座城里一泡真泡了十几个春天 <br>
<br>不算春天的春天，泡了又泡 <br>
<br>这件事，一想起来就觉得好冤 <br>
<br>或者所谓春天 <br>
<br>最后也不过就是这样子： <br>
<br>一些受伤的记忆 <br>
<br>一些欲望和灰尘 <br>
<br>一股开胃的葱味从那边的厨房 <br>
<br>然后是淡淡的油墨从一份晚报 <br>
<br>报导郊区的花讯 <br>

<br>或者所谓的老教授不过是新来的讲师变成 <br>
<br>讲师曾是新刮脸的学生 <br>
<br>所谓一辈子也不过打那么半打领带 <br>
<br>第一次，约会的那条 <br>
<br>引她格格地发笑 <br>
<br>或者毕业舞会的那条 <br>
<br>换了婚礼的那条换了 <br>
<br>或者浅绯的那条后来变成 <br>
<br>变成深咖啡的这条，不放糖的咖啡 <br>
<br>想起这也是一种分期的自缢，或者 <br>
<br>不能算那么残忍除了有点窒息 <br>

<br>或者所谓春天也只是一种轻脆的标本 <br>
<br>一张书签，曾是水仙或蝴蝶 <br>
<br>书签在韦氏大字典里字典在图书馆的楼上 <br>
<br>楼高四层高过所有的暮色 <br>
<br>楼怕高书怕旧旧书最怕有书签 <br>
<br>好遥好远的春天，青岛 <br>
<br>的春天，盖提斯堡 <br>
<br>的春天，布谷满天 <br>
<br>苹果花落得满地，四月，比鞋底更底 <br>
<br>比蜂更高鸟更高，比内战内战的公墓墓上的草 <br>

<br>而回想起来也不见得就不像一生 <br> 

<br>所谓童年 <br>
<br>所谓抗战 <br>
<br>所谓高二 <br>
<br>所谓大三 <br>
<br>所谓蜜月，并非不月蚀 <br>
<br>所谓贫穷，并非不美丽 <br> 
<br>所谓妻，曾是新娘<br> 
<br>所谓新娘，曾是女友<br> 
<br>所谓女友，曾非常害羞<br> 
<br>所谓不成名以及成名<br> 
<br>所谓朽以及不朽<br> 
或者所谓春天 

    <p style="text-align:right;">
        —— <a href="http://www.zhihu.com/question/19687065">…… </a>
    </p>

</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote>
        Designer or Engineer, things in between.
    </blockquote>

    <p>
        Your work is going to fill a large part of your life, and the only way to be truly satisfied is to do what you believe is great work. And the only way to do great work is to love what you do. If you haven’t found it yet, keep looking. Don’t settle. As with all matters of the heart, you’ll know when you find it.
    </p>

    <p>
    If you want to live your life in a creative way, as an artist, you have to not look back too much. You have to be willing to take whatever you’ve done and whoever you were and throw them away.
    </p>

    <p style="text-align:right;">
    -- Steve Jobs
    </p>

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
